.bxb-btn .btnleft .text, .bxb-btn .btnleft .inner, .bxb-btn .btnleft .inner .xxx {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.bxb_img, .bxb-username, .bxb_content, .bxb-inputname, .bxb-inputpass, .bxb-btn, .bxb-rember {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

body {
  background: url(../images/bxb-userloginbg_03.png);
  background-size: cover;
}

.bxb_back {
  width: 0.36rem;
  height: 0.62rem;
  position: absolute;
  top: 0.72rem;
  left: 0.24rem;
  font-family: 'iconfont';
  font-size: 0.48rem;
  text-align: left;
  color: #2345a7;
}

.bxb_img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: url(../images/bxb-img_03.png);
  background-size: cover;
  top: 1.12rem;
}

.bxb-username {
  width: 1.76rem;
  height: 0.54rem;
  top: 3.94rem;
  color: #abbaf1;
  text-align: center;
  line-height: 0.54rem;
  font-size: 0.18rem;
}

.bxb_content {
  width: 4.84rem;
  height: 0.84rem;
  top: 6.14rem;
}

.bxb_content a {
  display: block;
}

.bxb_content li {
  width: 1rem;
  height: 0.84rem;
  float: left;
  margin-right: 0.9rem;
}

.bxb_content li p {
  font-family: 'iconfont';
  color: #abbaf1;
  font-size: 0.56rem;
  line-height: 0.84rem;
}

.bxb_content li p span {
  font-family: 'iconfont';
  opacity: 0;
}

.bxb_content .active p {
  color: #fff;
}

.bxb_content .active p span {
  opacity: 1;
}

.bxb_content li:nth-child(3) {
  margin-right: 0;
}

.bxb-inputname {
  width: 5.9rem;
  height: 0.68rem;
  bottom: 5.46rem;
}

.bxb-inputname input {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid #1d356d;
  color: #4260be;
  font-family: 'iconfont';
  font-size: 0.18rem;
  padding-left: 0.3rem;
}

.bxb-inputname .text {
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  position: absolute;
  bottom: 0.2rem;
  left: 0;
  font-family: 'iconfont';
  color: #227d8e;
  font-size: 0.36rem;
  line-height: 0.3rem;
}

.bxb-inputpass {
  width: 5.9rem;
  height: 0.68rem;
  bottom: 4.48rem;
}

.bxb-inputpass input {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid #1d356d;
  color: #4260be;
  font-family: 'iconfont';
  font-size: 0.18rem;
  padding-left: 0.3rem;
}

.bxb-inputpass .text {
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  position: absolute;
  bottom: 0.2rem;
  left: 0;
  font-family: 'iconfont';
  color: #227d8e;
  font-size: 0.3rem;
  line-height: 0.3rem;
}

.bxb-btn {
  width: 5.82rem;
  height: 0.76rem;
  bottom: 3.44rem;
}

.bxb-btn .btnleft {
  width: 2.62rem;
  height: 0.76rem;
  border-radius: 0.76rem;
  background: #2345a7;
  float: left;
  position: relative;
}

.bxb-btn .btnleft .text {
  text-align: center;
  line-height: 0.76rem;
  color: #dfe2ef;
  left: 0.2rem;
}

.bxb-btn .btnleft .inner {
  width: 0.6rem;
  height: 0.3rem;
  border-radius: 0.3rem;
  right: 0.2rem;
  border: 0.02rem solid #2ddacc;
}

.bxb-btn .btnleft .inner .xxx {
  width: 0.32rem;
  height: 0.3rem;
  background: url(../images/xxx_10.png);
  background-size: cover;
  left: -0.1rem;
}

.bxb-btn .btnleft .inner .xxx:hover {
  margin-left: 0.6rem;
}

.bxb-btn .btnright {
  width: 2.62rem;
  height: 0.76rem;
  float: right;
  text-align: center;
  line-height: 0.76rem;
  color: #dfe2ef;
  border-radius: 0.76rem;
  border: 0.04rem solid #2e53bd;
}

.bxb-rember {
  width: 5.9rem;
  height: 0.96rem;
  bottom: 2.14rem;
  border-radius: 0.96rem;
  border: 1px solid #606c9b;
}

.bxb-rember p {
  font-size: 0.40rem;
  color: #9e9e9e;
  text-align: center;
  font-weight: bold;
}

.bxb-rember .eng {
  font-size: 0.18rem;
  color: #3a486e;
  text-align: center;
  font-weight: normal;
}
