@charset "UTF-8";
.bxb-btn .btnleft .text, .bxb-btn .btnleft .inner, .bxb-btn .btnleft .inner .xxx {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.bxb_img, .bxb_content, .bxb-inputname, .bxb-inputpass, .bxb-btn, .bxb-rember {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.bxb-inputname .blue .inner, .bxb-inputname .red .inner, .bxb-inputpass .red .inner, .bxb-inputpass .blue .inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

@font-face {
  font-family: '苹方 粗';
  src: url("../fonts/PINGFANG HEAVY.TTF");
}

body {
  background: url(../images/bxb.bg2_05.png);
  background-size: cover;
}

.bxb_back {
  width: 0.36rem;
  height: 0.62rem;
  position: absolute;
  top: 0.72rem;
  left: 0.24rem;
  font-family: 'iconfont';
  font-size: 0.48rem;
  text-align: left;
  color: #2345a7;
}

.bxb_img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: url(../images/bxb-img_03.png);
  background-size: cover;
  top: 1.12rem;
}

.bxb_content {
  width: 4.84rem;
  height: 0.84rem;
  top: 3.94rem;
}

.bxb_content li {
  width: 1rem;
  height: 0.84rem;
  float: left;
  margin-right: 0.9rem;
}

.bxb_content li p {
  font-family: 'iconfont';
  color: #abbaf1;
  font-size: 0.56rem;
  line-height: 0.84rem;
}

.bxb_content li p span {
  font-family: 'iconfont';
  opacity: 0;
}

.bxb_content .active p {
  color: #fff;
}

.bxb_content .active p span {
  opacity: 1;
}

.bxb_content li:nth-child(3) {
  margin-right: 0;
}

.bxb-inputname {
  width: 5.9rem;
  height: 0.68rem;
  top: 4.88rem;
}

.bxb-inputname .blue {
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  border: 1px solid green;
  position: absolute;
  top: 0.2rem;
  right: 0;
}

.bxb-inputname .blue .inner {
  width: 0.22rem;
  height: 0.22rem;
  border-radius: 50%;
  background: green;
}

.bxb-inputname .red {
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  border: 1px solid red;
  display: none;
  position: absolute;
  top: 0.2rem;
  right: 0;
}

.bxb-inputname .red .inner {
  width: 0.22rem;
  height: 0.22rem;
  border-radius: 50%;
  background: red;
}

.bxb-inputname input {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid #1d356d;
  color: #fff;
  font-family: 'iconfont';
  font-size: 0.24rem;
  letter-spacing: 0.02rem;
  padding-left: 0.3rem;
}

.bxb-inputname .text {
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  position: absolute;
  bottom: 0.2rem;
  left: 0;
  font-family: 'iconfont';
  color: #227d8e;
  font-size: 0.36rem;
  line-height: 0.3rem;
}

.bxb-inputpass {
  width: 5.9rem;
  height: 0.68rem;
  top: 5.66rem;
}

.bxb-inputpass .hide {
  width: 3.12rem;
  height: 0.5rem;
  background: url(../images/bxb_error2_08.png);
  background-size: cover;
  position: absolute;
  top: -0.2rem;
  left: 2.47rem;
  display: none;
}

.bxb-inputpass .red {
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  border: 1px solid red;
  display: none;
  position: absolute;
  top: 0.2rem;
  right: 0;
}

.bxb-inputpass .red .inner {
  width: 0.22rem;
  height: 0.22rem;
  border-radius: 50%;
  background: red;
}

.bxb-inputpass .blue {
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  border: 1px solid green;
  display: block;
  position: absolute;
  top: 0.2rem;
  right: 0;
}

.bxb-inputpass .blue .inner {
  width: 0.22rem;
  height: 0.22rem;
  border-radius: 50%;
  background: green;
}

.bxb-inputpass input {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid #1d356d;
  color: #fff;
  font-family: 'iconfont';
  font-size: 0.24rem;
  letter-spacing: 0.05rem;
  padding-left: 0.3rem;
}

.bxb-inputpass .text {
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  position: absolute;
  bottom: 0.2rem;
  left: 0;
  font-family: 'iconfont';
  color: #227d8e;
  font-size: 0.3rem;
  line-height: 0.3rem;
}

.bxb-inputpass .yanjing {
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  position: absolute;
  bottom: 0.2rem;
  right: 0.4rem;
  font-family: 'iconfont';
  color: #2240b3;
  font-size: 0.4rem;
}

.bxb-btn {
  width: 5.82rem;
  height: 0.76rem;
  top: 6.62rem;
}

.bxb-btn .btnleft {
  width: 2.62rem;
  height: 0.76rem;
  border-radius: 0.76rem;
  background: #2345a7;
  float: left;
  position: relative;
}

.bxb-btn .btnleft .text {
  text-align: center;
  line-height: 0.76rem;
  color: #dfe2ef;
  left: 0.2rem;
}

.bxb-btn .btnleft .inner {
  width: 0.6rem;
  height: 0.3rem;
  border-radius: 0.3rem;
  right: 0.2rem;
  border: 0.02rem solid #2ddacc;
}

.bxb-btn .btnleft .inner .xxx {
  width: 0.32rem;
  height: 0.3rem;
  background: url(../images/xxx_10.png);
  background-size: cover;
  left: -0.1rem;
}

.bxb-btn .btnleft .inner .xxx:hover {
  margin-left: 0.6rem;
}

.bxb-btn .btnright {
  width: 2.62rem;
  height: 0.76rem;
  float: right;
  text-align: center;
  line-height: 0.76rem;
  color: #dfe2ef;
  border-radius: 0.76rem;
  border: 0.04rem solid #2e53bd;
}

.bxb-rember {
  width: 5.9rem;
  height: 0.96rem;
  top: 7.58rem;
  background: #2dd3f0;
  border-radius: 0.96rem;
  border: 1px solid #606c9b;
}

.bxb-rember p {
  font-size: 0.40rem;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-family: '苹方 粗';
}

.bxb-rember .eng {
  font-size: 0.18rem;
  color: #9e9e9e;
  text-align: center;
  font-weight: normal;
}
