@charset "UTF-8";
.d_card .d_top, .d_card .d_top .d_title, .d_card .d_zb, .d_card .d_zb .d_zb_img, .d_zb_ks .d_zb_lunbo, .d_zb_ks .d_btn, .db_name .db_cot, .db_name .db_cot .db_cot_one, .d_imgs .d_card_img {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto; }

@font-face {
  font-family: '苹方';
  src: url("../fonts/PingFang Regular.ttf"); }

@font-face {
  font-family: 'sanfan';
  src: url("../fonts/SYSTEM SAN FRANCISCO DISPLAY REGULAR.TTF"); }

@font-face {
  font-family: '苹方 粗';
  src: url("../fonts/PingFang bold.ttf"); }

body {
  background: #f6f5f5; }

.d_card {
  width: 100%;
  height: 5rem;
  background-image: url("../images/w_100.gif");
  background-size: cover;
  position: relative; }
  .d_card .d_top {
    width: 7.02rem;
    height: 1rem; }
    .d_card .d_top .d_left {
      width: 0.23rem;
      height: 1rem;
      float: left; }
      .d_card .d_top .d_left .d_left_tou {
        display: block;
        width: 0.23rem;
        height: 1rem;
        background-image: url("../images/w_101.gif");
        background-size: cover; }
    .d_card .d_top .d_title {
      width: 2.27rem;
      height: 1rem;
      background: url("../images/w_102.gif");
      background-size: cover;
      float: left; }
    .d_card .d_top .d_id_card {
      float: right;
      width: 1.64rem;
      height: 1rem; }
      .d_card .d_top .d_id_card .d_card_add {
        display: block;
        width: 1.64rem;
        height: 1rem;
        background: url("../images/w_103.gif");
        background-size: cover; }
  .d_card .d_zb {
    margin-top: 1.48rem;
    width: 7.02rem;
    height: 0.76rem; }
    .d_card .d_zb .d_zb_img {
      width: 5.86rem;
      height: 0.76rem;
      background: url("../images/w_104.gif");
      background-size: cover; }

.d_zb_ks {
  width: 100%;
  height: 3.42rem;
  position: relative;
  top: -1.78rem; }
  .d_zb_ks .d_left_img {
    float: left;
    width: 0.59rem;
    height: 2.53rem; }
  .d_zb_ks .d_right_img {
    float: right;
    width: 0.59rem;
    height: 2.53rem; }
  .d_zb_ks .d_zb_lunbo {
    width: 5.13rem;
    height: 2.99rem;
    margin-top: -0.23rem;
    position: relative; }
    .d_zb_ks .d_zb_lunbo .d_lunbo {
      width: 5.13rem;
      height: 2.99rem;
      background: blue;
      position: absolute;
      left: 0;
      top: 0; }
      .d_zb_ks .d_zb_lunbo .d_lunbo img {
        width: 100%;
        height: 100%; }
  .d_zb_ks .d_btn {
    width: 1.54rem;
    height: 0.10rem;
    position: absolute;
    bottom: 0rem; }
    .d_zb_ks .d_btn .d_btn_box {
      width: 0.10rem;
      height: 0.10rem;
      border-radius: 50%;
      background: #d4d4d4;
      float: left;
      margin-left: 12%; }
    .d_zb_ks .d_btn .d_color {
      background: #24c358; }

.db_name {
  width: 100%;
  height: 2.89rem;
  margin-top: -0.87rem; }
  .db_name .db_cot {
    width: 6rem;
    height: 2.89rem; }
    .db_name .db_cot .two {
      margin-top: 0.33rem; }
    .db_name .db_cot .db_cot_one {
      width: 7.02rem;
      height: 0.73rem;
      position: relative; }
      .db_name .db_cot .db_cot_one .d_db_btn {
        width: 0.16rem;
        height: 0.16rem;
        border-radius: 50%;
        background: #00a8f0;
        margin-top: 0.10rem;
        float: left; }
      .db_name .db_cot .db_cot_one .d_db_title {
        width: 1.23rem;
        height: 0.48rem;
        float: left;
        margin-left: 0.10rem; }
        .db_name .db_cot .db_cot_one .d_db_title img {
          width: 100%;
          height: 100%; }
      .db_name .db_cot .db_cot_one .d_db_imgs {
        width: 1.02rem;
        height: 0.36rem;
        float: left;
        margin-left: 0.1rem; }
        .db_name .db_cot .db_cot_one .d_db_imgs img {
          width: 100%;
          height: 100%; }
      .db_name .db_cot .db_cot_one .d_db_math {
        float: left;
        margin-left: 0.63rem;
        font-family: 'sanfu';
        font-size: 0.14rem; }
      .db_name .db_cot .db_cot_one .d_db_xian {
        position: absolute;
        bottom: 0rem;
        left: 0.20rem;
        width: 3.63rem;
        height: 0.03rem;
        background: #e5e5e5; }

.d_imgs {
  width: 100%;
  height: 0.90rem;
  position: relative;
  margin-top: 1.10rem; }
  .d_imgs .d_card_img {
    width: 6.50rem;
    height: 0.90rem; }
    .d_imgs .d_card_img a {
      display: block;
      width: 6.50rem;
      height: 0.90rem;
      background: url("../images/w_203.gif");
      background-size: cover; }
