@charset "UTF-8";
.d_nav .d_nav_width, .d_hands, .d_touch, .d_touch_money, .d_footer a {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto; }

@font-face {
  font-family: '苹方';
  src: url("../fonts/PingFang Regular.ttf"); }

@font-face {
  font-family: 'sanfan';
  src: url("../fonts/SYSTEM SAN FRANCISCO DISPLAY REGULAR.TTF"); }

body {
  background: #f6f5f5;
  height: 12.9rem;
  position: relative; }

* {
  margin: 0;
  padding: 0;
  list-style: none; }

.d_nav {
  width: 100%;
  height: 1rem;
  position: relative; }
  .d_nav .d_nav_width {
    width: 7.02rem;
    height: 1rem; }
    .d_nav .d_nav_width ul {
      width: 0.3rem;
      height: 1rem;
      background: url(../images/w_57.jpg);
      background-size: cover; }

.d_hands {
  width: 4.23rem;
  height: 4.05rem;
  background: url(../images/w_58.jpg);
  background-size: cover;
  top: 1.55rem; }

.d_touch {
  width: 5.4rem;
  height: 2.38rem;
  background: url(../images/w_59.jpg);
  background-size: cover;
  top: 5.56rem; }

.d_touch_money {
  width: 1.86rem;
  height: 1.2rem;
  top: 7.95rem; }
  .d_touch_money :nth-child(1) {
    font-size: 0.61rem;
    font-family: 'sanfu';
    color: #0595da;
    text-algin: center;
    left: 0.1rem; }
  .d_touch_money :nth-child(2) {
    width: 1.08rem;
    height: 0.31rem;
    background: url(../images/w_60.jpg);
    background-size: cover;
    position: absolute;
    left: 0.1rem; }

.d_footer a {
  display: block;
  width: 2.47rem;
  height: 1.07rem;
  background: url(../images/w_61.jpg);
  background-size: cover;
  top: 9.53rem; }
