@charset "UTF-8";
.d_nav .d_nav_width, .d_card .d_card_width, .d_server .d_server_width, .d_start .d_start_width, .d_start .d_start_width .d_start_top, .d_start .d_start_width .d_start_bottom {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto; }

@font-face {
  font-family: '苹方';
  src: url("../fonts/PingFang Regular.ttf"); }

@font-face {
  font-family: 'sanfan';
  src: url("../fonts/SYSTEM SAN FRANCISCO DISPLAY REGULAR.TTF"); }

body {
  background: #f6f5f5;
  height: 12.9rem;
  position: relative; }

* {
  margin: 0;
  padding: 0;
  list-style: none; }

.d_nav {
  width: 100%;
  height: 1rem;
  position: relative; }
  .d_nav .d_nav_width {
    width: 7.02rem;
    height: 1rem; }
    .d_nav .d_nav_width a ul {
      display: block;
      width: 0.3rem;
      height: 1rem;
      background: url(../images/w_57.jpg);
      background-size: cover; }

.d_card {
  width: 100%;
  height: 3.46rem;
  position: relative;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem; }
  .d_card .d_card_width {
    width: 5.95rem;
    height: 3.46rem;
    background: url(../images/w_62.jpg);
    background-size: cover; }

.d_server {
  width: 100%;
  height: 1.06rem;
  position: relative; }
  .d_server .d_server_width {
    width: 5.95rem;
    height: 1.06rem;
    background: url(../images/w_63.jpg);
    background-size: cover; }

.d_start {
  width: 100%;
  height: 1.17rem;
  position: relative;
  margin-top: 0.5rem; }
  .d_start .d_start_width {
    width: 5.95rem;
    height: 1.17rem; }
    .d_start .d_start_width .d_start_top {
      width: 5.95rem;
      height: 0.5rem; }
      .d_start .d_start_width .d_start_top ul {
        width: 0.35rem;
        height: 0.35rem;
        color: #4a4a4a;
        font-size: 0.96rem;
        font-family: 'sanfu';
        line-height: 0.8rem;
        float: left;
        margin-left: 0.46rem; }
    .d_start .d_start_width .d_start_bottom {
      width: 5.95rem;
      height: 0.5rem;
      top: 0.5rem; }
      .d_start .d_start_width .d_start_bottom ul {
        width: 0.67rem;
        height: 0.04rem;
        border-radius: 0.02rem;
        background: #919191;
        float: left;
        margin-left: 0.23rem;
        margin-top: 0.1rem; }
      .d_start .d_start_width .d_start_bottom :nth-child(4) {
        background: #2a75ff; }
