@charset "UTF-8";
.hlj_nav .hlj_navList li span, .hlj_recommend .hlj_content ul li div .hlj_online:before, .hlj_recommend .hlj_content ul li div .hlj_online img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0; }

.hlj_nav .hlj_navList li a img {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto; }

.hlj_banner ul li, .hlj_recommend .hlj_info .hlj_avatar p {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

@font-face {
  font-family: "SanFranciscoDisplay-SemiBold";
  src: url("../fonts/SanFranciscoDisplay-SemiBold.TTF"); }

@font-face {
  font-family: "SanFranciscoDisplay-Light";
  src: url("../fonts/SanFranciscoDisplay-Light.TTF"); }

body {
  background-color: #f1f1f1; }

/*头部 S */
.hlj_container {
  padding: 0 0.24rem; }

.hlj_header {
  width: 100%;
  height: 0.96rem;
  background-color: #083368;
  padding-top: 0.43rem; }
  .hlj_header .hlj_title h3 {
    text-align: center;
    line-height: 1em;
    font-size: 0.36rem;
    color: #fff; }
  .hlj_header .hlj_back {
    display: block;
    float: left;
    width: 0.2rem;
    height: 0.37rem; }
    .hlj_header .hlj_back img {
      height: 100%; }

/*头部 E */
/*搜索 S */
.hlj_search {
  width: 100%;
  height: 0.73rem;
  background-color: #012169;
  padding: 0.17rem 0.44rem 0.12rem; }
  .hlj_search .hlj_inner {
    width: 100%;
    height: 100%;
    padding-left: 0.19rem;
    border-bottom: 0.02rem solid #1f507d;
    position: relative; }
    .hlj_search .hlj_inner input {
      background-color: transparent;
      height: 100%;
      outline: none;
      border: none;
      float: left;
      font-size: 0.32rem;
      color: #597fc7;
      font-family: "SanFranciscoDisplay-SemiBold"; }
    .hlj_search .hlj_inner > span {
      color: #48ace5;
      line-height: 0.33rem;
      float: right; }
    .hlj_search .hlj_inner > a {
      display: block;
      float: right; }
      .hlj_search .hlj_inner > a > img {
        height: 100%;
        float: left;
        display: inline-block; }
    .hlj_search .hlj_inner .hlj_btn_mic {
      padding: 0 0.2rem;
      width: 0.62rem;
      height: 0.33rem; }
    .hlj_search .hlj_inner .hlj_btn_search {
      padding: 0 0.13rem 0 0.2rem;
      width: 0.62rem;
      height: 0.33rem; }
  .hlj_search .hlj_inner:before {
    content: "";
    width: 0.06rem;
    height: 0.02rem;
    background-color: #8eb5d9;
    position: absolute;
    left: 0;
    bottom: -0.02rem; }
  .hlj_search .hlj_inner:after {
    content: "";
    width: 0.06rem;
    height: 0.02rem;
    background-color: #8eb5d9;
    position: absolute;
    right: 0;
    bottom: -0.02rem; }

/*搜索 E */
/*导航 S */
.hlj_nav .hlj_navList {
  width: 100%;
  height: 0.62rem;
  border-bottom: 0.02rem solid #dcdcdc;
  position: relative; }
  .hlj_nav .hlj_navList li {
    float: left;
    width: 25%;
    height: 0.6rem;
    padding: 0.11rem 0;
    position: relative; }
    .hlj_nav .hlj_navList li a {
      display: block;
      width: 100%;
      height: 100%;
      position: relative; }
    .hlj_nav .hlj_navList li a img {
      height: 100%; }
    .hlj_nav .hlj_navList li a .hlj_normal {
      display: block; }
    .hlj_nav .hlj_navList li a .hlj_active {
      display: none; }
    .hlj_nav .hlj_navList li span {
      font-size: 0.18rem;
      line-height: 0.6rem;
      color: #c8c8c8;
      right: -0.02rem; }
  .hlj_nav .hlj_navList .hlj_active a .hlj_normal {
    display: none; }
  .hlj_nav .hlj_navList .hlj_active a .hlj_active {
    display: block; }

.hlj_nav .hlj_navList:before {
  content: "";
  width: 0.05rem;
  height: 0.02rem;
  background-color: #777;
  position: absolute;
  left: 0.01rem;
  bottom: -0.02rem; }

.hlj_nav .hlj_navList:after {
  content: "";
  width: 0.05rem;
  height: 0.02rem;
  background-color: #777;
  position: absolute;
  right: 0.01rem;
  bottom: -0.02rem; }

/*导航 E */
/*banner S */
.hlj_banner {
  height: 3rem;
  padding: 0.34rem 0.53rem; }
  .hlj_banner ul {
    width: 100%;
    height: 100%;
    position: relative; }
    .hlj_banner ul li {
      border-radius: 0.05rem;
      overflow: hidden; }
      .hlj_banner ul li a {
        display: block;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-size: cover; }
    .hlj_banner ul .hlj_banner_fir {
      background-color: red;
      z-index: 30;
      width: 83%;
      height: 100%; }
    .hlj_banner ul .hlj_banner_sec {
      background-color: #0f8eb2;
      z-index: 20;
      width: 93%;
      height: 90%; }
    .hlj_banner ul .hlj_banner_thi {
      background-color: #636363;
      z-index: 10;
      width: 100%;
      height: 82%; }

/*banner E */
/*精彩推荐 S */
.hlj_recommend {
  padding-bottom: 1.13rem; }
  .hlj_recommend .hlj_title {
    height: 0.77rem;
    padding: 0.16rem 0 0.2rem;
    background-color: #dcdcdc;
    text-align: center; }
    .hlj_recommend .hlj_title img {
      height: 100%; }
  .hlj_recommend .hlj_content {
    padding: 0 0.18rem; }
    .hlj_recommend .hlj_content ul {
      overflow: hidden; }
      .hlj_recommend .hlj_content ul li {
        width: 50%;
        float: left;
        padding: 0.19rem 0.06rem 0; }
  .hlj_recommend .hlj_content ul li .hlj_thumb {
    display: block;
    border-radius: 0.05rem;
    width: 100%;
    height: 1.88rem;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    position: relative; }
  .hlj_recommend .hlj_content ul li div {
    overflow: hidden; }
    .hlj_recommend .hlj_content ul li div .hlj_online {
      margin-top: 0.04rem;
      float: right;
      display: block;
      padding: 0 0.14rem 0 0.3rem;
      background-color: #e3e3e3;
      border-radius: 20px;
      position: relative; }
    .hlj_recommend .hlj_content ul li div .hlj_online:before {
      content: "";
      width: 0.02rem;
      height: 0.02rem;
      background-color: #67f1b9;
      left: -0.01rem;
      z-index: 10; }
    .hlj_recommend .hlj_content ul li div .hlj_online img {
      width: 0.2rem;
      left: 0.05rem; }
    .hlj_recommend .hlj_content ul li div .hlj_online span {
      font-size: 0.18rem;
      color: #949494;
      float: left; }
  .hlj_recommend .hlj_intro {
    width: 100%;
    height: 0.35rem;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
    padding-left: 0.13rem;
    color: #fff;
    font-family: "SanFranciscoDisplay-Light";
    font-size: 0.2rem;
    line-height: 0.35rem; }
  .hlj_recommend .hlj_info {
    padding: 0.06rem 0 0 0.13rem;
    color: #fff;
    position: relative; }
    .hlj_recommend .hlj_info .hlj_avatar {
      width: 0.4rem;
      height: 0.4rem;
      border-radius: 50%;
      background-color: #fff;
      float: left;
      position: relative;
      margin-right: 0.07rem; }
      .hlj_recommend .hlj_info .hlj_avatar p {
        width: 0.35rem;
        height: 0.35rem;
        border-radius: 50%;
        background-size: cover;
        background-position: center center;
        background-color: red; }
    .hlj_recommend .hlj_info .hlj_name {
      width: 100%;
      padding-left: 0.6rem;
      position: absolute;
      left: 0;
      top: 0; }
      .hlj_recommend .hlj_info .hlj_name h5 {
        float: left;
        font-size: 0.2rem;
        border-bottom: 1px dotted #fff; }
      .hlj_recommend .hlj_info .hlj_name h6 {
        float: left;
        width: 100%; }
  .hlj_recommend .hlj_grade {
    display: block;
    float: left;
    padding-top: 0.07rem;
    position: relative; }
    .hlj_recommend .hlj_grade ul {
      overflow: hidden; }
      .hlj_recommend .hlj_grade ul li {
        float: left;
        width: 0.19rem;
        height: 0.19rem;
        margin-right: 0.05rem;
        background-size: cover;
        background-position: center center; }
    .hlj_recommend .hlj_grade .hlj_star {
      position: absolute;
      left: 0;
      top: 0.07rem; }
      .hlj_recommend .hlj_grade .hlj_star li {
        background-image: url("../images/hlj_star.png"); }
    .hlj_recommend .hlj_grade .hlj_star_empty li {
      background-image: url("../images/hlj_star_empty.png"); }

/*精彩推荐 E */
/*底部 S */
.hlj_footer {
  width: 100%;
  height: 1.03rem;
  background-color: #222932;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999; }

/*底部 E */